<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form method="POST" action="/crawl">
    <input type="text" name="iframe" />
    <input type="text" name="url" />
    <button type="submit">Submit</button>
  </form>
</body>

</html>
